Source: simple-deb
Section: misc
Priority: optional
Maintainer: Kaylor Chen <kaylor.chen@qq.com>
Rules-Requires-Root: no
Build-Depends: debhelper (>= 7.0.0~)

Package: simple-deb
Architecture: all
Description: a simple debian package

